
@import url('components/fondo.css');
@import url('components/navegacion.css');
@import url('components/botones.css');
@import url('components/tarjeta-horizontal.css');
@import url('components/pie-pagina.css');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.contenedor-principal {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Luces */
.activa-rojo { 
    background-color: #ff0000 !important; 
    box-shadow: 0 0 35px 5px rgba(255, 0, 0, 0.7); 
}
.activa-amarillo { 
    background-color: #ffff00 !important; 
    box-shadow: 0 0 35px 5px rgba(255, 255, 0, 0.7); 
}
.activa-verde { 
    background-color: #00ff00 !important; 
    box-shadow: 0 0 35px 5px rgba(0, 255, 0, 0.7); 
}