body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #222;
}

.fondo {
    background-image: url('../assets/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    margin-top: 5px;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* bajar contenido */
body {
    padding-top: 100px;
}

.semaforo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 260px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.luz {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #444;
    opacity: 0.3;
    transition: 0.3s;
}

/* ACTIVAS */
.luz.roja.activa {
    background-color: red;
    opacity: 1;
}

.luz.amarilla.activa {
    background-color: yellow;
    opacity: 1;
}

.luz.verde.activa {
    background-color: green;
    opacity: 1;
}

.botones button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}