.encabezado {
    position: fixed;
    top: 0; width: 100%;
    background-color: rgba(40, 40, 40, 0.9);
    color: white;
    text-align: center;
    padding: 12px 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

body:hover .encabezado {
    opacity: 1;
    visibility: visible;
}

.encabezado h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.boton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    transition: 0.2s;
}

.boton:hover {
    transform: scale(1.05);
}
.btn-manual-rojo { border: 2px solid #ff4d4d; color: #333; }
.btn-manual-amarillo { border: 2px solid #ffda44; color: #333; }
.btn-manual-verde { border: 2px solid #2ecc71; color: #333; }

.btn-auto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    border: 2px solid #444;
}

.icono.verde { color: #2ecc71; }
.icono.rojo { color: #e74c3c; }

.boton:hover { background-color: #eee; transform: translateY(-1px); }

.tarjeta-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: rgba(40, 40, 40, 0.75);
    padding: 40px 60px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.semaforo {
    background-color: #1f1f1f;
    padding: 20px 15px;
    border-radius: 40px; /* más redondeado */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 4px solid #444;
    width: 120px; /* clave: lo hace angosto tipo semáforo */
    box-shadow: inset 0 0 15px rgba(0,0,0,0.8);
}

.luz-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.luz {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #111;
    border: 3px solid #000;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}
.etiqueta {
    color: #ccc;
    font-size: 11px;
    text-transform: uppercase;
}

.controles {
    display: flex;
    flex-direction: column;
    width: 260px;
    color: white;
}

.controles h3 {
    margin-bottom: 10px;
    font-weight: 500;
}

.espacio-arriba { margin-top: 25px; }
.separador { border: 0; border-top: 1px solid #555; margin: 15px 0; }
.estado-info { font-size: 13px; color: #ccc; }


.pie-pagina {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}