.semaforo {
    background-color: #1f1f1f;
    padding: 20px 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 120px;
}

.luz {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.luz-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etiqueta {
    color: #ccc;
    font-size: 11px;
    text-transform: uppercase;
}